lizard-data-orm/lizard-data-orm-core/src/main/resources/META-INF/lizard-data-orm-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.lizardframework.io/schema/lizard-data-orm"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.lizardframework.io/schema/lizard-data-orm"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">


	<xsd:element name="mixed-datasource">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[ Lizard Data ORM Mixed-DataSource configuration section to integrate with Spring.]]>
			</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>
			<xsd:attribute name="mixed-name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
                            The Lizard Data ORM Mixed DataSource Name
                        ]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="mybatis-sqlsession-factory" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
                            The Mybatis SqlSessionFactoryBean Spring Bean Name. if you don't use mybatis, needn't set value
                        ]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>